.app-font-light {
    font-weight: 300;
}

.app-font-regular {
    font-weight: 400;
}

.app-font-bold {
    font-weight: 700;
}

.img-container {
    height: 35vh;
    width: auto;
    position: relative;
    background-color: yellow;
}

.img-box {
    object-fit: cover;
}
