@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.app-font-light {
  font-weight: 300;
}
.app-font-medium {
  font-weight: 500;
}
.app-font-bold {
  font-weight: 700;
}


.details-text {
  white-space: pre-wrap;
}

.large-card-height {
  min-height: 40vh;
}

$image-size: 200px;

.img-box {
  position: relative;
  height: $image-size;
  width: auto;
}

.img-box > img {
  object-fit: contain;
}

.outer-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.outer-img>* {
  position: fixed;
  z-index: 2;
  margin-top: $image-size / 4;
}
